body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Center Image - Chamnging from inline element to block level element img with margin 0(top and bottom ) auto (left and right)

*/

.logo-img{
    display: block;
    margin:0 auto;
}

/* adding padding to all divs - 20px (top, bottom, left, right)
*/
div{
    padding: 20px;
}

.center-span{
    text-align: center;
    margin: 0;
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}

fieldset label{
    font-size: 90%;
}

form input {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 25px;
}


/*
    background-color: #f7c548;
    border-color: #a88734 #9c7e31 #846a29;

    */

form input [type="submit"]{
    background-color: #f7c548;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 90%;
}

/* Translate for need help section - moving to the left */

.need-help{
    transform: translate(-8.5vw, 0);
} 
/* Mesia Query */
@media(max-width: 650px) {
    .need-help{
        transform: translate(-6.5vw, 0)
    }
}

h6, button{
    width: 75%;
    text-align: center;
}

h6{
    color: #767676;
    border-bottom: 1px solid #767676;
    line-height: 0.1em;
    margin: 30px 0 20px; /* 30px top - 0 (left and right) - 20px bottom */

}
span{
    background-color: #fff;
    color: #767676;
    padding: 0 10px;
}

button{
    font-size: 90%;
    padding: 5px;
    margin-top: 25px;
    background-color: #e7e9ec;
    border: 1px solid #adb1b8;
    border-radius: 2px;
    margin-bottom: 20px;
}

#footerElem>div>a>p{
    display: inline;
    text-align: center;
    padding: 10px 0 5px 0; /* Top - Right - Left */
    font-size: 80%;
    margin-right: 20px;
}